//- @pugdoc
  name: Main template
  description: template for pages

doctype
html(lang='ru', prefix='og: http://ogp.me/ns#')

  include ../components/_head.pug

  body

    include ../components/_header.pug

    main
      a.callback(href="page-contacts.html", title="Переход на страницу контактов")
      block content

    //- include ../components/_footer.pug

    script(src='js/script.min.js')

