extends partials/templates/_template.pug
include partials/components/_footer.pug

block content
  +b.SECTION.page--production

    // Production promo
    +b.SECTION.production-promo.promo

      // Breadcrumbs
      +b.breadcrumbs
        .container
          a(href="index.html") Главная
          =' /'
          span Готовая продукция «Техника Топлива»

      // Production promo info
      +b.SECTION.production-promo-info
        .container
          +e.H1.title Готовая продукция «Техника Топлива»
          +e.text Компания «Техника Топлива» представляет ассортимент продукции: комплектующие для АЗС и ТРК с техническими описаниями по применению, назначению и размерами для монтажа на объектах (предприятиях).

    // Production components
    +b.SECTION.production-components
      .container
        +e.row
          +e.left
            +e.H2.title Продукция «Техника Топлива»: комплектующие для АЗС
            +e.text Компания «Техника Топлива» представляет ассортимент продукции: комплектующие для АЗС и ТРК с техническими описаниями по применению, назначению и размерами для монтажа на объектах (предприятиях). It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          +e.right
            +e.img
              img(src="img/production-aside.png", alt="Техника топлива")
        +e.row--lower
          +e.left--lower
            +b.production-catalog
              +e.H2.title Ассортимент продукции
                span компании «Техника Топлива»
              +b.ARTICLE.production-catalog-item
                +e.A.img(href="page-production-single.html")
                  img(src="img/production-catalog-item.jpg", alt="production catalog item")
                +e.text-wrapper
                  +e.title-wrapper
                    +e.H3.title
                      a(href="page-production-single.html") Отрывная поворотно-осевая муфта ОМ 16.1 (папа-папа)
                    +e.article Артикул: ОМ 16.0
                  +e.text Отрывная поворотно-осевая муфта ОМ 16.0 предназначена для установки на АЗС на заправочные шланги перед заправочным пистолетом.
                  +e.btn-wrapper
                    +e.price
                      span Цена:
                      span 2000 руб./ед.
                    +e.order Заказ от 10 шт.
                    +e.link-wrapper
                      +e.A.link(href="page-production-single.html") Узнать больше
              +b.ARTICLE.production-catalog-item
                +e.A.img(href="page-production-single.html")
                  img(src="img/production-catalog-item.jpg", alt="production catalog item")
                +e.text-wrapper
                  +e.title-wrapper
                    +e.H3.title
                      a(href="page-production-single.html") Отрывная поворотно-осевая муфта ОМ 16.1 (папа-мама)
                    +e.article Артикул: ОМ 16.1
                  +e.text Отрывная поворотно-осевая муфта ОМ 16.1 (папа-папа) и все ее комплектующие изготовлены на территории России на территории России.
                  +e.btn-wrapper
                    +e.price
                      span Цена:
                      span 2000 руб./ед.
                    +e.order Заказ от 10 шт.
                    +e.link-wrapper
                      +e.A.link(href="page-production-single.html") Узнать больше
              +b.ARTICLE.production-catalog-item
                +e.A.img(href="page-production-single.html")
                  img(src="img/production-catalog-item.jpg", alt="production catalog item")
                +e.text-wrapper
                  +e.title-wrapper
                    +e.H3.title
                      a(href="page-production-single.html") Муфта отрывная сменная для пистолетов АЗС
                    +e.article Артикул: ОМ 16.2
                  +e.text Применяется для монтажа на автозаправочные пистолеты АЗС и ТРК для легкового и грузового транспорта. Сертифицировано в РосТест России.
                  +e.btn-wrapper
                    +e.price
                      span Цена:
                      span 2000 руб./ед.
                    +e.order Заказ от 10 шт.
                    +e.link-wrapper
                      +e.A.link(href="page-production-single.html") Узнать больше
          +e.right--lower

            +b.models
              +e.H3.title
                span Каталог комплектующих
              +e.UL.list
                +e.item
                  a(href="#") Отрывная поворотно-осевая муфта ОМ 16.0 (папа-папа)
                +e.item
                  a(href="#") Отрывная поворотно-осевая муфта ОМ 16.1 (папа-мама)

            +e.download
              +b.download
                span Вы можете скачать каталог «Техника&nbsp;Топлива»
                  span в
                    span формате
                    |  PDF.
                +e.btn-wrapper
                  +b.A.btn--download(href="#") Скачать каталог

      // Footer
      +footer()





