extends partials/templates/_template.pug
include partials/components/_footer.pug

block content
  +b.SECTION.page--technology

    // Technology promo
    +b.SECTION.technology-promo
      .container

        // Breadcrumbs
        +b.breadcrumbs
          a(href="index.html") Главная
          =' /'
          span Технологии производства

        +e.H1.title Технологии производства
        +e.text Компания «Техника Топлива» представляет технологии производства комплектующих для АЗС и ТРК на российском оборудовании, прошедшем сертификацию РосТест, что гарантирует высокое качество, износостойкость и соответствие стандартам.
        +e.btn-wrapper
          +b.A.btn(href="#") Узнать больше

    // Technology
    +b.SECTION.technology

      // Technology solutions
      +b.SECTION.technology-solutions
        .container
          +e.column
            +e.H2.title Технологические решения для производства
            +e.text
              p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              p It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              h3 Подзаголовок в разделе «Решения»
              p The industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
              p It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

      // Technology production
      +b.SECTION.technology-production
        .container
          +e.H2.title Производство комплектующих в Санкт-Петербурге
          +e.row
            +e.left
              +e.img
                img(src="img/technology-img.jpg", alt="Здание Техника топлива")
            +e.right
              +e.text
                h3 Место размещения производства
                p Изготовление комплектующих для АЗС и ТРК компании «Техника Топлива» локализовано в Невском районе Санкт-Петербурга по адресу: пр. Александровской фермы, д.29, литер Е.
                p Компания представляет собой: отделы производства, контроля качества продукции и сбыта готовой продукции с доставкой по России и СНГ.

      // Technology control
      +b.SECTION.technology-control
        .container
          +e.row
            +e.left
              +e.H2.title Производство комплектующих в Санкт-Петербурге
              +e.text
                p
                  b Специализация компании «Техника Топлива»:
                  | производство комплектующих для АЗС и ТРК с высокими показателями износостойкости при эксплуатации.
                p Официальный контроль качественных и количественных показателей компании осуществляется на основе тестирования в РосТест РФ.
                p Официальная сертификация и допуски к пожароопасным объектам — это гарантия качества продукции и её надлежащая износостойкость и соответствующая эффективность при активной эксплуатации.
              +e.btn-wrapper
                +b.A.btn--grey(href="#") Узнать больше о производстве
            +e.right
              +e.img
                img(src="img/technology-stamp.png", alt="Техника топлива")

      // Footer
      +footer()
