extends partials/templates/_template.pug
include partials/components/_footer.pug

block content
  +b.SECTION.page--where-to-buy

    // Where-to-buy promo
    +b.SECTION.where-to-buy-promo.promo

      // Breadcrumbs
      +b.breadcrumbs
        .container
          a(href="index.html") Главная
          =' /'
          span Где купить комплектующие «Техника Топлива» для АЗС

      // Where-to-buy promo info
      +b.SECTION.where-to-buy-promo-info
        .container
          +e.H1.title Где купить комплектующие «Техника Топлива» для АЗС
          +e.text Компания «Техника Топлива» представляет карточки компаний: наших дилеров на рынке комплектующих для АЗС и ТРК, аффилированных на территории Российской Федерации.

    // Dealers
    +b.SECTION.dealers
      .container
        +e.column
          +b.dealers-map
            +e.H2.title Дилеры
              span «Техника Топлива»
              |  на карте России
            +e.frame(id="YMapsID", height="265")
              //- img(src="img/where-map.jpg", alt="map")
              //- +e.A.loupe(href="#", style="display:none;") Увеличить карту

          +b.dealers-catalog
            +e.H2.title Список дилеров комплектующих
              span «Техника Топлива»
            +e.UL.list
              +e.item
                +b.ARTICLE.dealer
                  +e.A.img(href="http://www.cprok.ru/")
                    img(src="img/where-logo1.png", alt="dealer")
                  +e.text-wrapper
                    +e.H3.title ООО «Центр Продаж Комплектующих»
                    +e.description
                      span Интернет-магазин
                      span Санкт-Петербург
                    +e.info
                      +e.address
                        span Адрес:
                        span
                          span СПб,
                          |  пр. Александровской Фермы д.29 лит.Е, офис 102.
                      +e.tel
                        span Телефон:
                        span
                          a(href="tel:+78002501012", rel="nofollow") +7 (800)
                            b 250-10-12
                      +e.site
                        span Веб-сайт:
                        span
                          a(href="http://www.cprok.ru/") www.cprok.ru
              +e.item
                +b.ARTICLE.dealer
                  +e.A.img(href="http://tech-equip.ru/")
                    img(src="img/where-logo2.png", alt="dealer")
                  +e.text-wrapper
                    +e.H3.title ООО «ТехОборудование»
                    +e.description
                      span Интернет-магазин
                      span Москва
                    +e.info
                      +e.address
                        span Адрес:
                        span
                          span Москва,
                          |  ул. Большая Очаковская д. 47А, строение 4.
                      +e.tel
                        span Телефон:
                        span
                          a(href="tel:+74952150202", rel="nofollow") +7 (495)
                            b 215-02-02
                      +e.site
                        span Веб-сайт:
                        span
                          a(href="http://tech-equip.ru/") www.tech-equip.ru

      // Footer
      +footer()
