extends partials/templates/_template.pug
include partials/components/_footer.pug

block content
  +b.SECTION.page--production-single

    // Single production
    +b.SECTION.single-production

      // Breadcrumbs
      +b.breadcrumbs
        .container
          a(href="index.html") Главная
          =' /'
          a(href="page-production.html") Продукция
          =' /'
          span Отрывная поворотно-осевая муфта ОМ 16.0 (папа-папа)

      .container
        +e.H1.title Отрывная поворотно-осевая муфта ОМ 16.0 (папа-папа)
        +e.row
          +e.production-right
            +b.models
              +e.H3.title
                span Модельный ряд комплектующих
              +e.UL.list
                +e.item
                  a(href="#") Отрывная поворотно-осевая муфта ОМ 16.0 (папа-папа)
                +e.item
                  a(href="#") Отрывная поворотно-осевая муфта ОМ 16.1 (папа-мама)
          +e.production-left
            +b.SECTION.production-item
              +e.row
                +e.img
                  img(src="img/production-single.jpg", alt="production item")
                +e.text-wrapper
                  +e.info-wrapper
                    +e.article
                      span Артикул:
                      span ОМ 16.0
                    +e.country
                      span Страна производства:
                      span Россия
                  +e.text
                    span Описание:
                    span Отрывная поворотно-осевая муфта ОМ 16.0 предназначена для установки на АЗС на заправочные шланги перед заправочным пистолетом.
              +e.btn-wrapper
                +e.price
                  span Цена:
                  span 2000 руб./ед.
                //- +e.order Заказ от 10 шт.
                +b.A.btn--grey(href="#") Заказать муфты

            +b.ARTICLE.production-item-text
              +e.use
                +e.H3.title Назначение
                +e.text
                  p Специальная разрывная конструкция обеспечивает перекрытие потока топлива в случае резкого рывка пистолета, который возникает в случаях, когда автомобиль начинает движение с заправочным пистолетом, вставленным в бензобак.
                  p Поворотный механизм муфты ОМ 16.0 устраняет проблему перекручивания шланга в независимости от положения автомобиля относительно топливо-раздаточной колонки (ТРК).
              +e.make
                +e.H3.title Технология изготовления
                +e.text
                  p Отрывная поворотно-осевая муфта ОМ 16.0 (папа-папа) и все ее комплектующие изготовлены на территории России. При изготовлении были использованы только высококачественные материалы: алюминий, нержавеющая сталь, специальные масло-бензостойкие пластики повышенной прочности, полиуретан и высококачественная резина.
              +e.text-wrapper
                +e.text
                  p
                    img(src="img/single-img.jpg", alt="single img")
                  p Все комплектующие изготовлены с применением самых современных технологий на станках с ЧПУ, что позволяет получить стабильную высокую точность компонент. Это в свою очередь позволяет получить идеальную совместимость комплектующих без малейших люфтов и зазоров. Все компоненты разрывной муфты ОМ 16.0 проходят жесткий контроль качества, а готовые разрывные муфты проходят испытания, приближенные к реальным условиям их эксплуатации.
                  p Благодаря всему этому, отрывная муфта ОМ 16.0 не уступает по качеству, функциональности и долговечности импортным аналогам производства компаний Elaflex (марка SSB) и OPW и значительно превосходит аналоги, произведенные в Китае.
                  p При изготовлении разрывной муфты ОМ 16.0 были использованы материалы с учетом климатических особенностей России и стран СНГ, что позволило значительно увеличить срок службы поворотного механизма муфты как в условиях холодного, так и жаркого климата.
              +e.features
                +e.H3.title Особенности
                +e.text
                  ol
                    li Специально разработанная геометрия манжеты из специальной марки полиуретана имеет повышенный срок службы при температурах от -50o С до +50o С.
                    li Высоколегированная коррозионностойкая сталь фитинга превосходит по своим характеристикам материалы, используемые в любых импортных аналогах.
                    li Высокопрочные масло-бензостойкие пластики и точность изготовления комплектующих обеспечивают герметичное перекрытие потока жидкости на любом сроке службы изделия.
                    li Высококачественный специально обработанный алюминий корпуса и фитинга обеспечивают долговечность службы в том числе и резьбового соединения со стальным фитингом топливного шланга.
                    li Стабильное срабатывание разрывного механизма муфты при аварийной ситуации.
              +e.btn-wrapper
                +b.A.btn(href="page-production.html") Вернуться к списку товаров

      // Footer
      +footer()

