extends partials/templates/_template.pug
include partials/components/_footer.pug

block content
  +b.SECTION.page--404

    // Not found
    +b.SECTION.not-found

      // Breadcrumbs
      +b.breadcrumbs
        .container
          a(href="index.html") Главная
          =' /'
          span Страница не найдена

      .container
        +e.flex
          +e.img
            img(src="img/404.png", alt="")
          +e.text-wrapper
            +e.H1.title Страница не найдена
            +e.H3.subtitle Ошибка №404
            +e.text Такой страницы нет на сайте. Вероятно, ссылка, по которой Вы сюда попали, устарела, или Вы ошиблись, когда набирали адрес.
            +e.btn-wrapper
              +b.A.btn(href="index.html") Вернуться на главную страницу

      // Footer
      +footer()
