.about-promo{
  background-color: #475567;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img/about-promo.jpg);
  background-size: cover;
  padding: 0 0 110px;
  @media (max-width: $breakpoint-xl){
    padding: 0 0 95px;
  }
  @media (max-width: $breakpoint-md){
    padding: 0 0 75px;
  }
}

.about-promo-info{
  &__title{
    margin: 0;
    font-size: 26px;
    line-height: (30/26);
    padding: 0 0 20px;
    font-weight: 700;
    @media (max-width: $breakpoint-xl){
      font-weight: 400;
      font-size: 22px;
    }
    @media (max-width: $breakpoint-md){
      font-size: 18px;
      padding: 15px 15px 10px;
    }
  }
  &__text{
    max-width: 520px;
    @media (max-width: $breakpoint-xl){
      max-width: 400px;
    }
    @media (max-width: $breakpoint-md){
      padding: 0 15px;
    }
  }
  &__btn-wrapper{
    padding: 17px 0 0;
    @media (max-width: $breakpoint-md){
      padding: 12px 15px 0;
    }
    .btn{
      margin-right: 15px;
      @media (max-width: $breakpoint-md){
        background-color: rgba(76,88,106,0.9);
      }
    }
  }
}

.about{
  background-color: #475567;
  background-repeat: repeat;
  background-position: center top;
  background-image: url(../img/about-bg.jpg);
  background-size: 100% auto;
}

.about-common{
  overflow-x: hidden;
  &__row{
    display: flex;
    @media (max-width: $breakpoint-md){
      display: block;
    }
  }
  &__left{
    flex: 0 0 69%;
    max-width: 69%;
    position: relative;
    z-index: 1;
    padding: 45px 100px 0 0;
    @media (max-width: $breakpoint-xl){
      flex: 0 0 62%;
      max-width: 62%;
      padding: 25px 20px 0 0;
    }
    @media (max-width: $breakpoint-md){
      max-width: 100%;
      padding: 0 15px;
    }
  }
  &__right{
    flex: 0 0 31%;
    max-width: 31%;
    position: relative;
    z-index: 0;
    @media (max-width: $breakpoint-xl){
      flex: 0 0 38%;
      max-width: 38%;
    }
    @media (max-width: $breakpoint-md){
      max-width: 100%;
    }
  }

  &__title{
    margin: 0;
    font-size: 20px;
    line-height: (22/20);
    margin-bottom: 25px;
    font-weight: 400;
    @media (max-width: $breakpoint-xl){
      margin-bottom: 20px;
    }
    @media (max-width: $breakpoint-md){
      font-size: 17px;
      padding: 25px 0 5px;
      margin-bottom: 0;
    }
  }
  &__text{
    p{
      margin: 10px 0;
      @media (max-width: $breakpoint-md){
        display: none;
      }
      &:first-of-type{
        @media (max-width: $breakpoint-md){
          display: block;
        }
      }
    }
    a{
      color: #ffb040;
    }

    .btn--link-more{
      color: #fff;
      display: none;
      @media (max-width: $breakpoint-md){
        display: inline-block;
        font-size: 13px;
      }
    }
  }
  &__btn-wrapper{
    margin: 20px 0 40px;
    @media (max-width: $breakpoint-md){
      display: none;
      margin: 20px 0;
    }
  }

  &__bg{
    position: relative;
    @media (max-width: $breakpoint-md){
      top: -15px;
    }
    &:before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(375px);
      background-repeat: no-repeat;
      background-image: url(../img/about-img.png);
      width: 977px;
      height: 532px;
      @media (max-width: $breakpoint-xl){
        transform: translate(375px, -40px) scale(0.85) ;
      }
      @media (max-width: $breakpoint-md){
        transform: none;
        background-image: url(../img/about-img-mobile.png);
        width: 320px;
        height: 258px;
        // right: 50%;
        // transform: translateX(50%);
      }
    }
  }
  &__stamp{
    display: block;
    margin-top: 335px;
    position: relative;
    z-index: 1;
    @media (max-width: $breakpoint-xl){
      margin-top: 285px;
    }
    @media (max-width: $breakpoint-md){
      margin: 0;
      padding: 175px 15px 0;
      text-align: center;
    }
  }
  &__text-additional{
    margin: 15px 0;
    font-size: 13px;
    line-height: (20/13);
    max-width: 300px;
    @media (max-width: $breakpoint-md){
      margin: 5px 0 15px;
      padding: 0 15px;
      max-width: 100%;
    }
  }
}


.about-gallery{
  &__row{
    display: flex;
    @media (max-width: $breakpoint-md){
      display: block;
    }
  }
  &__left{
    flex: 0 0 69%;
    max-width: 69%;
    padding: 0 100px 0 0;
    @media (max-width: $breakpoint-xl){
      flex: 0 0 62%;
      max-width: 62%;
      padding: 0 30px 0 0;
    }
    @media (max-width: $breakpoint-md){
      max-width: 100%;
      padding: 10px 15px 20px;
    }
  }
  &__right{
    flex: 0 0 31%;
    max-width: 31%;
    @media (max-width: $breakpoint-xl){
      flex: 0 0 38%;
      max-width: 38%;
    }
    @media (max-width: $breakpoint-md){
      max-width: 100%;
      padding: 0 15px;
    }
  }
  &__text-additional{
    margin: 20px 0 15px;
    font-size: 13px;
    line-height: (20/13);
    max-width: 300px;
    @media (max-width: $breakpoint-xl){
      margin: 10px 0 15px;
    }
    @media (max-width: $breakpoint-md){
      margin: 20px 0 0;
      max-width: 100%;
    }
  }
  &__img-popup{
    display: block;
    position: relative;
    // max-width: 290px;
    max-width: 550px;
    margin: 0 auto;
    border: 3px solid #888c8f;
    border-radius: 2px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
    @media (max-width: $breakpoint-md){
      margin: 0 auto;
    }
  }
  &__link{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgba(#000, 0.4);
    padding: 1px 15px;
    border-radius: 15px 0 0 0;
    font-size: 13px;
    line-height: 2;
    &:before{
      content: '';
      display: inline-block;
      @include sprite($s-plus);
      margin-right: 10px;
      margin-bottom: -3px;
    }
  }
}

.about-video{
  max-width: 550px;
  margin: 0 auto;
  box-shadow: 0 2px 15px 2px rgba(0,0,0,0.5);
  &__title{
    padding: 5px 15px;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: (22/16);
    background-color: #648da1;
    color: $text-white;
    @media (max-width: $breakpoint-md){
      font-size: 15px;
      padding: 8px 15px;
    }
    span{
      @media (max-width: $breakpoint-md){
        display: none;
      }
    }
  }
}

.advantages{
  padding: 45px 0 30px;
  @media (max-width: $breakpoint-xl){
    padding: 10px 0 20px;
  }
  @media (max-width: $breakpoint-md){
    padding: 15px 15px 20px;
  }

  &__title{
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    padding: 0 0 20px;
    @media (max-width: $breakpoint-md){
      font-size: 17px;
      padding: 0 0 10px;
    }
  }
  &__list{
    padding-left: 0;
    margin: 0 -30px 0 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    @media (max-width: $breakpoint-xl){
      margin: 0;
    }
    @media (max-width: $breakpoint-md){
      margin: 0 -5px;
    }
  }
  &__item{
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding: 0 5px;
    margin: 0 0 10px;
    @media (max-width: $breakpoint-xl){
      flex: 0 0 50%;
      max-width: 50%;
    }
    @media (max-width: $breakpoint-md){
      flex: 0 0 100%;
      max-width: 100%;
      margin: 0 0 2px;
    }
  }
}
.advantage{
  display: block;
  position: relative;
  background-image: linear-gradient( 60deg, rgb(100,107,112) 0%, rgb(100,107,112) 29%, rgb(97,112,122) 55%, rgb(136,140,143) 93%);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
  min-height: 88px;
  border-radius: 5px;
  @media (max-width: $breakpoint-md){
    min-height: 72px;
  }

  &:before{
    content: '';
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-position: center !important;
    background-repeat: no-repeat !important;

    @media (max-width: $breakpoint-md){
      right: 10px;
    }
  }
  &--one{
    &:before{
      @include sprite($s-advantage1);
      background-image: url(../img/svg/icon-high-quality.svg);
    }
  }
  &--two{
    &:before{
      @include sprite($s-advantage2);
      background-image: url(../img/svg/icon-price.svg);
    }
  }
  &--three{
    &:before{
      @include sprite($s-advantage3);
      background-image: url(../img/svg/icon-box.svg);
    }
  }
  &--four{
    &:before{
      @include sprite($s-advantage4);
      background-image: url(../img/svg/icon-cash.svg);
    }
  }
  &--five{
    &:before{
      @include sprite($s-advantage5);
      background-image: url(../img/svg/icon-ru.svg);
    }
  }
  &--six{
    &:before{
      @include sprite($s-advantage6);
      background-image: url(../img/svg/icon-tt.svg);
    }
  }
  &:hover{
    background-image: none;
    background-color: #476479;
  }

  p{
    margin: 0;
    max-width: 250px;
    font-weight: 700;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    @media (max-width: $breakpoint-md){
      left: 15px;
      max-width: 220px;
      font-size: 14px;
    }
  }
}

.about-production{
  padding: 0 0 90px;
  @media (max-width: $breakpoint-xl){
    padding: 0 0 50px;
  }
  @media (max-width: $breakpoint-xl){
    padding: 0 0 40px;
  }

  &__row{
    display: flex;
    @media (max-width: $breakpoint-md){
      flex-wrap: wrap;
    }
  }
  &__left{
    flex: 0 0 69%;
    max-width: 69%;
    padding: 0 100px 0 0;
    @media (max-width: $breakpoint-xl){
      flex: 0 0 52%;
      max-width: 52%;
      padding: 0 20px 0 0;
    }
    @media (max-width: $breakpoint-md){
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0 15px;
    }
  }
  &__right{
    flex: 0 0 31%;
    max-width: 31%;
    @media (max-width: $breakpoint-xl){
      flex: 0 0 48%;
      max-width: 48%;
    }
    @media (max-width: $breakpoint-md){
      flex: 0 0 100%;
      max-width: 100%;
      order: -1;
      // overflow: hidden;
    }
  }
  &__title{
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    @media (max-width: $breakpoint-md){
      font-size: 17px;
    }
  }
  &__round-map{
    position: relative;
    @media (max-width: $breakpoint-md){
      padding: 285px 0 0;
    }
    &:before{
      content: '';
      display: block;
      position: absolute;
      top: -50px;
      right: -60px;
      background-image: url(../img/about-map2.png);
      background-repeat: no-repeat;
      width: 406px;
      height: 407px;
      @media (max-width: $breakpoint-xl){
        top: 0;
        right: -40px;
      }
      @media (max-width: $breakpoint-md){
        width: 320px;
        height: 380px;
        background-position: center center;
        background-size: contain;
        right: 50%;
        transform: translateX(50%);
        top: -60px;
        z-index: 1;
      }
    }
  }
  &__text{
    @media (max-width: $breakpoint-md){
      font-size: 14px;
    }
    a{
      color: #ffb040;
    }
  }
}
