.breadcrumbs{
  padding: 25px 0 30px;
  color: #a1a1a1;
  font-size: 12px;
  line-height: (22/12);
  @media (max-width: $breakpoint-md){
    padding: 15px 0 25px;
    line-height: 1.46;
  }

  a{
    color: #a1a1a1;
  }
}
