.btn{
  display: inline-block;
  text-align: center;
  outline: none;
  border: none;
  font-size: 14px;
  line-height: (22/14);
  border: 1px solid rgba($white, 0.5);
  border-radius: 3px;
  background-color: transparent;
  padding: 4px 12px;
  margin: 0;
  color: $text-white;
  &:hover, &:focus, &:active{
    background-color: #316e91;
  }

  &--light-grey{
    background-color: rgba(#4c586a, 0.5);
  }
  &--grey{
    background-color: transparent;
    background-image: linear-gradient( to bottom, rgb(197,198,200) 0%, rgb(122,126,130) 100%);
    color: $text-black !important;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.4);
    font-weight: 700;
    border: none;
    &:hover, &:focus, &:active{
      background-image: none;
      background-color: #316e91;
      color: #eee !important;
      text-shadow: none;
    }
  }
  &--download{
    background-color: transparent;
    background-image: linear-gradient( to bottom, rgb(197,198,200) 0%, rgb(122,126,130) 100%);
    color: $text-black;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.4);
    font-weight: 700;
    border: none;
    overflow: hidden;
    white-space: nowrap;
    padding: 6px 6px 6px 40px;
    width: 100%;
    position: relative;
    @media (max-width: $breakpoint-xl){
      padding: 6px 16px 6px 50px;
      display: block;
    }
    @media (max-width: $breakpoint-md){
      padding: 6px 26px 6px 60px;
      display: inline-block;
      width: auto;
    }

    &:before{
      content: '';
      @include sprite($s-download);
      position: absolute;
      top: 0;
      left: 0;
    }
    &:hover, &:focus, &:active{
      // background-color: #316e91;
      // background-image: linear-gradient( to top, rgb(197,198,200) 0%, rgb(122,126,130) 100%);
      background-image: none;
      background-color: #bb3021;
      color: #fff;
      text-shadow: none;
    }
  }
}

