.footer{
  padding: 30px 0;
  text-align: center;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-repeat: repeat-x;
    background-image: url(../img/footer-border.png);
    opacity: 0.5;
  }
  &--fixed{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
  }

  &__copyright{
    font-family: $Roboto;
    font-size: 13px;
    line-height: (30/13);
    color: #d7d7d7;
    opacity: 0.7;
  }
}
