.footer{
  padding: 30px 0;
  text-align: center;
  position: relative;
  @media (max-width: $breakpoint-md){
    padding: 10px 0;
  }

  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-repeat: repeat-x;
    background-image: url(../img/footer-border.png);
    opacity: 0.5;
  }
  &--fixed{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
  }

  &__copyright{
    font-family: $Roboto;
    font-size: 13px;
    line-height: (30/13);
    color: #d7d7d7;
    opacity: 0.7;
    @media (max-width: $breakpoint-md){
      font-size: 12px;
      line-height: (20/12);
    }
    span{
      @media (max-width: $breakpoint-md){
        display: block;
      }
    }
  }
}
