.header{
  &__upper{
    background-image: linear-gradient( to top, rgb(215,215,215) 0%, rgb(255,255,255) 100%);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
    color: $text-black;
    position: relative;
    z-index: 1;
    @media (max-width: $breakpoint-md){
      padding: 0 15px;
    }
  }
  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $breakpoint-md){
      position: relative;
    }
  }
  &__address{
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    margin: 12px 0;
    padding-left: 15px;
    @media (max-width: $breakpoint-md){
      // flex: 0 0 auto;
      margin: 0;
      position: absolute;
      right: 50px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__logo{
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    text-align: center;
    margin: 12px 0;
    @media (max-width: $breakpoint-md){
      order: -1;
      flex: 0 0 150px;
      max-width: 150px;
      margin: 8px 0;
    }
  }
  &__call{
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    text-align: right;
    margin: 12px 0;
    @media (max-width: $breakpoint-md){
      // flex: 0 0 auto;
      margin: 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__nav{
    background-image: linear-gradient( to left, #3d5668 0%, #3e7b9f 50%, #3d5668 100%);
    @media (max-width: $breakpoint-md){
      background-image: none;
      background-color: #376c8c;
    }
  }
}

.logo{
  display: block;
  &__img{
    width: 168px;
    height: 81px;
    @media (max-width: $breakpoint-md){
      width: 170px;
      height: 83px;
    }
  }
}

.address{
  font-size: 13px;
  line-height: (20/13);
  max-width: 220px;
  position: relative;
  &:before{
    content: '';
    @include sprite($s-header-pin);
    background-image: url(../img/svg/geopointer.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 2px;
    left: -15px;
    @media (max-width: $breakpoint-md){
      display: none;
    }
  }
  &__text{
    display: inline;
    @media (max-width: $breakpoint-md){
      display: none;
    }
  }
  a{
    color: #666666;
    &:after{
      content: '';
      display: none;
      @include sprite($s-header-pin-mobile);
      background-image: url(../img/svg/round-geopointer.svg);
      background-position: center;
      background-repeat: no-repeat;

      @media (max-width: $breakpoint-md){
        display: block;
      }
    }
    &:hover, &:focus{
      color: #3399cc;
    }
    &:hover:after, &:focus:after{
      @include sprite($s-header-pin-mobile-hover);
      background-image: url(../img/svg/round-geopointer-select.svg);
      background-position: center;
      background-repeat: no-repeat;
    }
    span{
      @media (max-width: $breakpoint-md){
        display: none;
      }
    }
  }
}

.call{
  &__free{
    display: block;
    font-family: $Roboto;
    color: #666666;
    font-size: 14px;
    line-height: (30/14);
    @media (max-width: $breakpoint-xl){
      line-height: 1;
    }
    @media (max-width: $breakpoint-md){
      display: none;
    }
  }
  a{
    font-size: 28px;
    color: $text-black;
    font-family: $Roboto;
    font-weight: bold;
    @media (max-width: $breakpoint-xl){
      display: inline-block;
      margin-bottom: 5px;
    }
    @media (max-width: $breakpoint-md){
      display: block;
      margin-bottom: 0;
    }
    &:after{
      content: '';
      display: none;
      @include sprite($s-header-tel-mobile);
      background-image: url(../img/svg/round-phone.svg);
      background-position: center;
      background-repeat: no-repeat;

      @media (max-width: $breakpoint-md){
        display: block;
      }
    }
    &:hover, &:focus{
      color: #3399cc;
    }
    &:hover:after, &:focus:after{
      @include sprite($s-header-tel-mobile-hover);
      background-image: url(../img/svg/round-phone-select.svg);
      background-position: center;
      background-repeat: no-repeat;
    }
    span{
      display: inline-block;
      margin: 0 -2px;
      @media (max-width: $breakpoint-md){
        display: none;
      }
    }
  }
}

.nav{
  position: relative;
  font-size: 17px;
  line-height: (30/17);
  font-family: $Roboto;
  @media (max-width: $breakpoint-xl){
    font-size: 15px;
  }
  &__list{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    @media (max-width: $breakpoint-md){
      display: none;
      flex-direction: column;
      position: absolute;
      z-index: 2;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #376c8c;
    }

  }
  &__item{
    flex: 1 1 auto;
    text-align: center;
    position: relative;
    @media (max-width: $breakpoint-md){
      text-align: left;
    }

    > a{
      width: 100%;
      display: inline-block;
      padding: 5px 5px;
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      transition: none;
      @media (max-width: $breakpoint-md){
        padding: 3px 15px;
        border: none;
      }
      &:hover{
        // background-image: linear-gradient( to left, #3681b3 0%, #3c96c7 50%, #3681b3 100%);
        background-color: #3681b3;
        border-left: 1px solid #295979;
        border-right: 1px solid #295979;
        @media (max-width: $breakpoint-md){
          border: none;
        }
      }
    }
    &--home{
      flex: 0 0 auto;
      > a{
        // max-height: 42px;
        &:before{
          content: '';
          display: inline-block;
          margin-bottom: -2px;
          @include sprite($s-nav-house);
          background-image: url(../img/svg/home.svg);
          background-position: center;
          background-repeat: no-repeat;
        }
      }
      @media (max-width: $breakpoint-md){
        display: none;
      }

    }
    &--active{
      overflow-y: hidden;
      &:before{
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        background-color: #d7d7d7;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
        @media (max-width: $breakpoint-md){
          display: none;
        }
      }
      > a{
        background-image: linear-gradient( to left, #3681b3 0%, #3c96c7 50%, #3681b3 100%);
        border-left: 1px solid #295979;
        border-right: 1px solid #295979;
        @media (max-width: $breakpoint-md){
          background-image: none;
          border: none;
        }
      }
    }
    &--dropdown{
      > a{
        @media (max-width: $breakpoint-md){
          display: none;
        }
      }
    }
    &:hover > .nav__sublist{
      display: block;
    }
  }
  &__sublist{
    display: none;
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    background-color: #3d6781;
    border: 1px solid #295a79;
    width: 260px;
    text-align: left;
    @media (max-width: $breakpoint-md){
      position: static;
      display: block;
      width: auto;
      background-color: transparent;
      border: none;
    }
  }
  &__subitem{
    > a{
      width: 100%;
      display: inline-block;
      padding: 5px 21px;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      transition: none;
      @media (max-width: $breakpoint-md){
        border: none;
        padding: 3px 15px;
      }
      &:hover{
        background-image: linear-gradient( to left, #3681b3 0%, #3c96c7 50%, #3681b3 100%);
        border-top: 1px solid #295979;
        border-bottom: 1px solid #295979;
        @media (max-width: $breakpoint-md){
          border: none;
        }
      }
    }
    &:first-of-type{
      > a{
        border-top: none;
      }
    }
    &:last-of-type{
      > a{
        border-bottom: none;
      }
    }
  }
  &__hamburger{
    display: none;
    padding: 2px 0;
    text-align: center;
    border-bottom: 1px solid #326685;
    @media (max-width: $breakpoint-md){
      display: block;
    }
  }
}





.hamburger{
  text-transform: uppercase;
  &:before{
    content: '';
    display: inline-block;
    @include sprite($s-nav-burger);
    background-image: url(../img/svg/gamburger-mobile-menu.svg);
    background-position: center;
    background-repeat: no-repeat;

  }
}
