.index-promo{
  display: block;
  background-color: #3c5567;
  background-repeat: repeat-x;
  background-position: center top;
  background-image: url(../img/index-bg2.jpg);

  &__title{
    font-size: 17px;
    font-weight: 400;
    margin: 0 auto;
    padding: 30px 0 30px;
    line-height: 1.5;
    text-align: center;
    @media (max-width: $breakpoint-md){
      padding: 10px 0 10px;
      max-width: 280px;
    }
  }
  &__video{
    height: 485px;
    height: 360px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: $breakpoint-xl){
      height: 370px;
    }
    @media (max-width: $breakpoint-md){
      height: 145px;
    }
  }
  &__features{
    display: flex;
    flex-wrap: wrap;
    @media (max-width: $breakpoint-xl){
      margin: 0 -5px;
      padding: 0 0 50px;
    }
    @media (max-width: $breakpoint-md){
      margin: 0 15px;
      padding: 0;
    }
  }
  &__feature-item{
    flex: 0 0 25%;
    max-width: 25%;
    @media (max-width: $breakpoint-xl){
      flex: 0 0 50%;
      max-width: 50%;
      padding: 2px;
    }
    @media (max-width: $breakpoint-md){
      flex: 0 0 100%;
      max-width: 100%;
      padding: 2px 0;
    }
  }
}

.feature{
  display: block;
  min-height: 230px;
  padding: 10px 15px 10px 15px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
  transition: none;
  @media (max-width: $breakpoint-xl){
    min-height: 170px;
    padding: 10px 20px;
  }
  @media (max-width: $breakpoint-md){
    min-height: 100px;
    padding: 10px 15px;
  }
  &:before{
    content: '';
    display: block;
    position: absolute;
    background-repeat: no-repeat;
  }
  &--one{
    background-image: linear-gradient( 90deg, rgb(43,43,43) 0%, rgb(125,121,141) 100%);
    &:before{
      width: 125px;
      height: 113px;
      bottom: 0;
      right: 0;
      background-image: url(../img/feature-one.png);
      @media (max-width: $breakpoint-xl){
        bottom: 5px;
      }
      @media (max-width: $breakpoint-md){
        bottom: 0;
        transform: scale(0.8) translate(30px, 20px);
      }
    }
    &:hover, &:active{
      background-image: none;
      background-color: #3f3d48;
    }
  }
  &--two{
    background-image: linear-gradient( -45deg, rgb(106,136,156) 0%, rgb(106,136,156) 0%, rgb(119,149,169) 0%, rgb(118,144,162) 0%, rgb(84,110,127) 0%, rgb(106,137,158) 29%, rgb(106,137,158) 40%, rgb(80,106,124) 64%, rgb(53,74,90) 100%);
    &:before{
      width: 116px;
      height: 132px;
      bottom: 0;
      right: 15px;
      background-image: url(../img/feature-two.png);
      @media (max-width: $breakpoint-xl){
        right: 5px;
        bottom: 5px;
        transform: scale(1.1);
      }
      @media (max-width: $breakpoint-md){
        bottom: 0;
        right: 0;
        transform: scale(0.7) translate(30px, 30px);
      }
    }
    &:hover, &:active{
      background-image: none;
      background-color: #354a5a;
    }
  }
  &--three{
    background-image: linear-gradient( 180deg, rgb(63,74,82) 12%, rgb(60,62,60) 72%, rgb(51,53,51) 74%, rgb(53,54,53) 90%);
    &:before{
      width: 157px;
      height: 132px;
      bottom: 0;
      right: 0;
      background-image: url(../img/feature-three.png);
      @media (max-width: $breakpoint-xl){
        right: 0;
        bottom: 0;
        transform: scale(1.2);
      }
      @media (max-width: $breakpoint-md){
        transform: scale(0.7) translate(35px, 25px);
      }
    }
    &:hover, &:active{
      background-image: none;
      background-color: #3f4a52;
    }
  }
  &--four{
    background-image: linear-gradient( 0deg, rgb(60,82,111) 4%, rgb(204,193,166) 20%, rgb(194,199,207) 27%, rgb(185,190,202) 32%, rgb(137,154,188) 45%, rgb(94,105,128) 66%, rgb(40,68,93) 100%);
    @media (max-width: $breakpoint-md){
      background-image: linear-gradient( 0deg, rgb(60,82,111) 0%, rgb(204,193,166) 6%, rgb(194,199,207) 9%, rgb(185,190,202) 15%, rgb(137,154,188) 28%, rgb(94,105,128) 66%, rgb(40,68,93) 100%);
    }
    &:before{
      width: 362px;
      height: 170px;
      bottom: 0;
      right: -30px;
      background-image: url(../img/feature-four.png);
      @media (max-width: $breakpoint-xl){
        right: 0;
      }
      @media (max-width: $breakpoint-md){
        transform: scale(0.7) translate(80px, 50px);
      }
    }
    &:hover, &:active{
      background-image: none;
      background-color: #28445d;
    }
  }
  &:hover, &:active{
    .feature__title{
      color: #ccc;
    }
    .feature__text{
      color: #ccc;
    }
  }


  &__title{
    margin: 0;
    font-family: $Roboto;
    font-weight: 500;
    text-shadow: 0px 1px 2px #333;
    font-size: 20px;
    line-height: (30/20);
    transition: color .325s ease 0s;
    @media (max-width: $breakpoint-md){
      font-size: 17px;
    }
  }
  &__text{
    // color: #cccccc;
    margin: 10px 0;
    max-width: 210px;
    font-family: $Roboto;
    font-size: 14px;
    transition: color .325s ease 0s;
    @media (max-width: $breakpoint-md){
      margin: 5px 0 10px;
      font-size: 13px;
      max-width: 190px;
    }
  }
}

