.news-promo{
  background-color: #111010;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img/news-promo.jpg);
  background-size: cover;
  padding: 0 0 115px;
  @media (max-width: $breakpoint-xl){
    background-position: calc(50% + 70px) center;
    padding: 0 0 120px;
  }
  @media (max-width: $breakpoint-md){
    background-color: #141c1b;
    background-repeat: repeat;
    background-position: center -1000px;
    background-image: url(../img/bg-spot.jpg);
    background-size: 100%;
    padding: 0;
  }

  .breadcrumbs{
    @media (max-width: $breakpoint-md){
      background-color: #111010;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url(../img/news-promo.jpg);
      background-size: cover;
      padding: 15px 15px 115px;
    }
  }

  &__title{
    margin: -10px 0 0;
    font-size: 26px;
    padding: 0 0 10px;
    font-weight: 400;
    @media (max-width: $breakpoint-xl){
      font-weight: 400;
      font-size: 22px;
      margin: -5px 0 0;
      padding: 0 0 20px;
    }
    @media (max-width: $breakpoint-md){
      margin: 0;
      padding: 10px 15px 0;
      font-size: 18px;
    }
  }
  &__text{
    max-width: 400px;
    line-height: 1.6;
    @media (max-width: $breakpoint-xl){
      max-width: 370px;
      line-height: 1.46;
    }
    @media (max-width: $breakpoint-md){
      padding: 0 15px 0;
      max-width: 100%;
    }
  }
}

.news{
  background-color: #141c1b;
  background-repeat: repeat;
  background-position: center -1000px;
  background-image: url(../img/bg-spot.jpg);
  &__column{
    padding: 0 0 70px;
    position: relative;
    @media (max-width: $breakpoint-md){
      padding: 0 0 20px;
    }

    &:before{
      content: '';
      position: absolute;
      right: 0;
      top: 40px;
      width: 254px;
      height: 260px;
      background-repeat: no-repeat;
      background-position: center top;
      background-image: url(../img/news-i.png);
      @media (max-width: $breakpoint-xl){
        display: none;
      }
    }
  }
  &__list{
    padding: 40px 0 20px;
    max-width: 670px;
    position: relative;
    z-index: 1;
    @media (max-width: $breakpoint-xl){
      padding: 20px 0 20px;
      max-width: 100%;
    }
    @media (max-width: $breakpoint-md){
      padding: 10px 0 0;
    }
  }
  .pagination{
    background-color: rgba(#000, 0.7);
    @media (max-width: $breakpoint-md){
      border: none;
      margin-top: 20px;
    }
  }
}
.news-item{
  margin-bottom: 10px;
  @media (max-width: $breakpoint-md){
    margin: 0 15px 5px;
  }

  &__link{
    display: block;
    position: relative;
    border: 1px solid #3f3e3e;
    background-color: rgba(#000, 0.7);
    padding: 0 0 25px;
    @media (max-width: $breakpoint-md){
      padding: 0 0 10px;
    }

    &:hover, &:focus{
      background-color: rgba(#333, 0.7);
      .news-item__text{
        color: #fff;
      }
    }
  }
  &__date{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 110px;
    text-align: center;
    font-size: 13px;
    line-height: (22/13);
    font-weight: 700;
    color: #ffb040;
    padding: 15px 0;
    @media (max-width: $breakpoint-md){
      position: static;
      text-align: left;
      padding: 10px 10px 0;
    }
  }
  &__title{
    margin: 15px 0 10px 110px;
    padding: 0 10px;
    font-size: 17px;
    line-height: (22/17);
    font-weight: 400;
    @media (max-width: $breakpoint-md){
      margin: 0;
      font-size: 14px;
      margin: 5px 0;
    }
  }
  &__text{
    display: block;
    margin-left: 110px;
    padding: 0 10px;
    color: #999999;
    @media (max-width: $breakpoint-md){
      margin: 0;
      font-size: 13px;
    }
  }
}


