.overlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  width: 100%;
  height: 100%;

  &__bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
    background-color: rgba(0,0,0,.7);
    cursor: pointer;
  }
  &__close{
    display: block;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 8;

    &:before, &:after{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      height: 100%;
      width: 3px;
      background-color: #ddd;
    }
    &:after{
      transform: translate(50%, -50%) rotate(45deg);
    }
    &:before{
      transform: translate(50%, -50%) rotate(-45deg);
    }
  }
  &__inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    width: 100%;
    max-width: 940px;
  }


}



.gallery{
  &__title{
    margin: 0;
    font-size: 16px;
    line-height: (22/16);
    font-weight: 400;
    padding: 10px 20px;
    background-image: linear-gradient( 0deg, rgb(107,148,168) 0%, rgb(94,136,157) 100%);
  }
  &__list{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
  }
  &__item{

  }
  &__slide{
    position: relative;
    width: 940px;
    height: 590px;
    img{
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
  &__text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 40px;
    text-align: center;
    color: #d8d8d8;
    font-size: 15px;
    line-height: (22/15);
  }
  .slick-arrow{
    color: transparent;
    padding: 0;
    display: block;
    border: none;
    outline: none;
    position: absolute;
    z-index: 9;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(#2e2e2e, 0.8);
    &:after{
      content: '';
      display: block;
      position: absolute;
      top: 20px;
      // left: 20px;
      transform: translate(0, -50%);
    }
    &:hover, &:focus{
      background-color: #2f6e8c;
    }
  }
  .slick-prev{
    left: 30px;
    &:after{
      left: 10px;
      @include sprite($s-gallery-left);
    }
  }
  .slick-next{
    right: 30px;
    &:after{
      right: 10px;
      @include sprite($s-gallery-right);
    }
  }
}
