.page{
  &--index{
    .footer:before{
      display: none;
    }
    .footer{
      @media (max-width: $breakpoint-md){
        padding: 20px 0;
      }
    }
  }
  &--where-to-buy, &--production{
    .footer:before{
      @media (max-width: $breakpoint-md){
        display: none;
      }
    }
  }
  &--technology{
    .footer{
      @media (max-width: $breakpoint-md){
        padding: 15px 0;
      }
    }
  }
}

.fixed{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
}
