.pagination{
  max-width: 670px;
  border: 1px solid #3f3e3e;
  font-family: $Roboto;
  font-size: 15px;
  line-height: 1.8;
  @media (max-width: $breakpoint-xl){
    max-width: 100%;
    line-height: 1.4;
    padding-top: 5px;
  }
  @media (max-width: $breakpoint-md){
    padding: 5px 15px 0;
  }

  &__inner{
    display: inline-flex;
    align-items: baseline;
    overflow: hidden;
    border-radius: 1px;
    font-size: 15px;
    position: relative;
  }

  &__page{
    padding: 5px 5px 5px 15px;
    position: relative;
    color: #666666;
    @media (max-width: $breakpoint-md){
      display: none;
    }

    &:after{
      content: '';
      display: inline-block;
      vertical-align: middle;
      margin: 0 0 3px 7px;
      border: 2px solid transparent;
      border-right: 2px solid #3f3e3e;
      border-top: 2px solid #3f3e3e;
      transform: rotate(45deg);
      width: 12px;
      height: 12px;
    }
  }

  &__list{
    margin: 0;
    padding: 0 10px 0 20px;
    @media (max-width: $breakpoint-md){
      padding: 0;
    }
  }

  &__item{
    display: inline-block;
    a{
      border-top: 2px solid transparent;
      display: block;
      padding: 0 12px 2px;
      @media (max-width: $breakpoint-xl){
        padding: 4px 12px 6px;
      }
      &:hover{
        border-top: 2px solid #333;
        background-color: #333;
        color: #fff;
      }
    }
    &--active{
      a{
        border-top: 2px solid #25618a;
        background-color: #174265;
        &:hover{
          background-color: #174265;
          color: #fff;
        }
      }
    }
  }
}


