.single-production{
  background-color: #111010;
  background-repeat: repeat;
  background-position: center -1000px;
  background-image: url(../img/bg-spot.jpg);
  background-size: cover;
  @media (max-width: $breakpoint-xl){
    background-position: center top;
  }
  @media (max-width: $breakpoint-md){
    background-position: center 400px;
    background-size: 200% auto;
  }

  .breadcrumbs{
    @media (max-width: $breakpoint-md){
      padding: 15px 15px 0;
    }
  }


  &__title{
    margin: -15px 0 0;
    font-size: 26px;
    padding: 0 0 30px;
    font-weight: 400;
    @media (max-width: $breakpoint-xl){
      font-weight: 400;
      font-size: 22px;
      padding: 0 0 20px;
    }
    @media (max-width: $breakpoint-md){
      margin: 0;
      padding: 5px 15px 15px;
      font-size: 17px;
    }
  }
  &__row{
    position: relative;
    padding: 0 250px 0 0;
    @media (max-width: $breakpoint-xl){
      padding: 0;
    }
  }
  &__production-right{
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    @media (max-width: $breakpoint-xl){
      position: static;
      width: 100%;
    }
  }
  &__production-left{
    padding: 0 30px 0 0;
    @media (max-width: $breakpoint-xl){
      padding: 0;
    }
  }
}


.models{
  background-color: rgba(#000000, 0.3);
  padding: 0 0 15px;
  @media (max-width: $breakpoint-xl){
    padding: 0;
    border-bottom: 1px solid #454548;
  }
  &__title{
    margin: 0;
    color: #cccccc;
    font-size: 14px;
    line-height: (22/13);
    padding: 10px 10px 10px 15px;
    border-bottom: 1px solid #454548;
    @media (max-width: $breakpoint-xl){
      border-bottom: none;
      cursor: pointer;
      text-align: center;
      background-image: linear-gradient( 180deg, rgb(204,204,204) 0%, rgb(159,159,159) 100%);
      color: #333333;
      text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
    }
    @media (max-width: $breakpoint-md){
      padding: 8px 15px;
    }

    span{
      &:before{
        content: '';
        display: inline-block;
        // vertical-align: text-bottom;
        margin-bottom: -1px;
        margin-right: 10px;
        @include sprite($s-models-burger);
      }
    }
  }
  &__list{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    @media (max-width: $breakpoint-xl){
      display: none;
      background-color: #dedede;
    }
  }
  &__item{
    font-size: 14px;
    line-height: (24/14);
    a{
      display: inline-block;
      color: #f6f6f6;
      padding: 8px 15px;
      @media (max-width: $breakpoint-xl){
        color: #171717;
      }
      &:hover, &:focus{
        color: #ff8e14;
      }
    }
    &--active{
      a{
        color: #ff8e14;
      }
    }
  }
}

.production-item{
  background-color: #dedede;
  color: #171717;
  &__row{
    display: flex;
    border-bottom: 1px solid #adadad;
    @media (max-width: $breakpoint-md){
      display: block;
      position: relative;
    }
  }
  &__img{
    flex: 0 0 50%;
    max-width: 50%;
    @media (max-width: $breakpoint-xl){
      flex: 0 0 335px;
      max-width: 335px;
    }
    @media (max-width: $breakpoint-md){
      height: 110px;
      width: 160px;
      position: absolute;
      top: 0;
      left: 0;
    }
    img{
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
  &__text-wrapper{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 15px 25px;
    color: #666666;
    @media (max-width: $breakpoint-xl){
      padding: 15px 20px;
      flex: 1 1 auto;
      max-width: 100%;
    }
    @media (max-width: $breakpoint-md){
      padding: 0;
    }
  }
  &__info-wrapper{
    @media (max-width: $breakpoint-md){
      margin-left: 160px;
      min-height: 110px;
      padding: 10px 15px;
    }
  }
  &__article{
    font-size: 12px;
    line-height: (22/12);
    margin-bottom: 5px;
    span:last-of-type{
      color: #cc3300;
      font-weight: 700;
    }
  }
  &__country{
    margin-bottom: 10px;
    font-size: 12px;
    line-height: (22/12);
    @media (max-width: $breakpoint-xl){
      margin-bottom: 5px;
    }

    span:last-of-type{
      color: #171717;
    }
  }
  &__text{
    @media (max-width: $breakpoint-md){
      padding: 5px 10px;
      font-size: 13px;
      line-height: 1.3;
    }

    span:first-of-type{
      display: block;
      font-size: 12px;
      line-height: (22/12);
      margin-bottom: 10px;
      @media (max-width: $breakpoint-md){
        display: none;
      }
    }
    span:last-of-type{
      font-size: 14px;
      color: #171717;
    }
  }

  &__btn-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 5px 5px 5px 5px;
    @media (max-width: $breakpoint-xl){
      justify-content: flex-start;
      padding: 5px;
    }
    @media (max-width: $breakpoint-md){
      justify-content: space-around;
      align-items: center;
    }

    .btn{
      transition: none;
      padding: 6px 20px;
      border: 1px solid #747474;
      background-image: linear-gradient( 180deg, rgb(232,232,232) 0%, rgb(132,135,138) 100%);
      @media (max-width: $breakpoint-md){
        padding: 5px 10px;
      }
      &:hover, &:focus{
        // border-color: #fff;
        background-image: none;
        background-color: #316e91;
        color: #fff;
      }
    }
  }
  &__price{
    flex: 0 0 25%;
    max-width: 25%;
    text-align: left;
    padding-left: 5px;
    font-size: 14px;
    line-height: (22/14);
    span:first-of-type{
      color: #717171;
      font-weight: 400;
    }
    span:last-of-type{
      color: #262626;
      font-weight: 700;
    }
  }
  &__order{
    text-align: right;
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 5px;
  }
  &__btn{
    text-align: right;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.production-item-text{
  @media (max-width: $breakpoint-xl){
    display: flex;
    flex-wrap: wrap;
  }
  @media (max-width: $breakpoint-md){
    padding: 10px 0 0;
  }

  &__title{
    font-weight: 400;
    border-bottom: 1px solid #3b3f43;
    @media (max-width: $breakpoint-xl){
      font-size: 17px;
      color: #cccccc;
    }
    @media (max-width: $breakpoint-md){
      font-size: 14px;
      padding: 0 0 5px;
      margin: 10px 0 15px;
    }
  }
  &__use{
    padding: 15px 0 0;
    @media (max-width: $breakpoint-xl){
      flex: 0 0 50%;
      max-width: 50%;
      padding: 10px 25px 0 0;
    }
    @media (max-width: $breakpoint-md){
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0 15px 0;
    }
  }
  &__make{
    padding: 15px 0;
    @media (max-width: $breakpoint-xl){
      flex: 0 0 50%;
      max-width: 50%;
      padding: 10px 0 0;
    }
    @media (max-width: $breakpoint-md){
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0 15px 0;
    }
  }
  &__text-wrapper{
    @media (max-width: $breakpoint-md){
      padding: 0 15px 0;
    }
  }
  &__features{
    padding: 15px 0;
    @media (max-width: $breakpoint-md){
      padding: 0 15px 0;
    }
  }
  &__text{
    @media (max-width: $breakpoint-md){
      font-size: 13px;
      line-height: (18/13);
    }
    a{
      color: #ffb040;
    }
  }
  &__btn-wrapper{
    margin: 15px 0 110px;
    @media (max-width: $breakpoint-xl){
      margin: 15px 0 50px;
    }
    @media (max-width: $breakpoint-md){
      margin: 20px 15px 35px;
    }

    .btn{
      border: 1px solid #333333;
      color: #999999;
      padding: 5px 20px;
      @media (max-width: $breakpoint-md){
        padding: 5px 15px;
      }
      &:hover, &:focus, &:active{
        background-color: rgb(55, 108, 140);
      }
    }
  }
  ul, ol{
    padding-left: 20px;
    li{
      margin-bottom: 10px;
    }
  }
}

