.technology-promo{
  background-color: #111010;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img/technology-promo.jpg);
  padding: 0 0 60px;
  @media (max-width: $breakpoint-xl){
    background-position: calc(50% - 110px) center;
  }
  @media (max-width: $breakpoint-md){
    background-position: calc(50% - 35px) center;
    padding: 0 0 75px;
    background-size: cover;
  }
}

.technology-promo-info{
  &__title{
    margin: -10px 0 0;
    font-size: 26px;
    padding: 0 0 20px;
    font-weight: 400;
    @media (max-width: $breakpoint-xl){
      font-weight: 400;
      font-size: 22px;
      margin: -5px 0 0;
      padding: 0 0 5px;
    }
    @media (max-width: $breakpoint-md){
      padding: 15px 15px 5px;
      margin: 0;
      font-size: 18px;
    }
  }
  &__text{
    max-width: 420px;
    line-height: 1.6;
    @media (max-width: $breakpoint-xl){
      max-width: 350px;
      line-height: 1.46;
    }
    @media (max-width: $breakpoint-md){
      padding: 0 15px 0;
      max-width: 100%;
    }
  }
  &__btn-wrapper{
    margin-top: 20px;
    @media (max-width: $breakpoint-md){
      display: none;
    }
  }
}

.technology{
  background-color: #141c1b;
  background-repeat: repeat;
  background-position: center -250px;
  background-image: url(../img/technology-bg.jpg);
  @media (max-width: $breakpoint-md){
    background-size: 200% auto;
  }
}


.technology-solutions{
  @media (max-width: $breakpoint-md){
    padding: 0 15px;
  }

  &__column{
    padding: 40px 0 0;
    position: relative;
    @media (max-width: $breakpoint-xl){
      padding: 20px 0 0;
    }

    &:before{
      content: '';
      display: block;
      background-repeat: no-repeat;
      background-image: url(../img/technology-aside.png);
      background-size: contain;
      width: 977px;
      height: 662px;
      position: absolute;
      top: 0;
      right: -180px;
      @media (max-width: $breakpoint-xl){
        right: -130px;
        width: 650px;
      }
      @media (max-width: $breakpoint-md){
        display: none;
      }
    }
  }
  &__title{
    margin: 0;
    font-size: 20px;
    @media (max-width: $breakpoint-md){
      font-size: 18px;
      font-weight: 400;
    }
  }
  &__text{
    max-width: 550px;
    @media (max-width: $breakpoint-xl){
      max-width: 420px;
    }
    @media (max-width: $breakpoint-md){
      max-width: 100%;
    }
    h2, h3, h4{
      @media (max-width: $breakpoint-xl){
        font-weight: 400;
      }
    }
  }
}

.technology-production{
  padding: 40px 0 10px;
  @media (max-width: $breakpoint-xl){
    padding: 10px 0 10px;
  }
  @media (max-width: $breakpoint-xl){
    padding: 0;
  }

  &__title{
    margin: 0 0 20px;
    font-size: 20px;
    @media (max-width: $breakpoint-xl){
      font-weight: 400;
    }
    @media (max-width: $breakpoint-md){
      padding: 0 15px;
      font-size: 18px;
      margin: 0 0 10px;
    }
  }
  &__row{
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    @media (max-width: $breakpoint-md){
      display: block;
      border-radius: 0;
      overflow: auto;
    }
  }
  &__left{
    flex: 0 0 550px;
    max-width: 550px;
    @media (max-width: $breakpoint-xl){
      flex: 0 0 50%;
      max-width: 50%;
      display: flex;
    }
    @media (max-width: $breakpoint-md){
      max-width: 100%;
    }
  }
  &__right{
    flex: 1 1 auto;
    background-image: linear-gradient( -45deg, rgb(54,53,64) 0%, rgb(31,29,31) 53%, rgb(54,53,64) 100%);
    @media (max-width: $breakpoint-xl){
      flex: 0 0 50%;
      max-width: 50%;
    }
    @media (max-width: $breakpoint-md){
      max-width: 100%;
    }
  }
  &__img{
    @media (max-width: $breakpoint-md){
      max-height: 165px;
    }
    img{
      @media (max-width: $breakpoint-xl){
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
      }
    }
  }
  &__text{
    padding: 25px 35px;
    @media (max-width: $breakpoint-xl){
      padding: 10px 20px;
    }
    @media (max-width: $breakpoint-md){
      padding: 15px 15px 10px;
    }

    h3{
      margin: 0 0 10px;
      font-size: 17px;
      font-weight: 400;
      @media (max-width: $breakpoint-xl){
        font-size: 15px;
      }
    }
    p{
      font-size: 14px;
      line-height: (24/14);
      @media (max-width: $breakpoint-xl){
        font-size: 13px;
        line-height: 1.46;
      }
    }
  }
}

.technology-control{
  padding: 40px 0 15px;
  @media (max-width: $breakpoint-xl){
    padding: 25px 0 40px;
  }
  @media (max-width: $breakpoint-md){
    padding: 15px 0 30px;
  }

  &__row{
    display: flex;
    @media (max-width: $breakpoint-md){
      flex-wrap: wrap;
    }
  }
  &__left{
    flex: 1 1 auto;
    @media (max-width: $breakpoint-xl){
      flex: 0 0 52%;
      max-width: 52%;
    }
    @media (max-width: $breakpoint-md){
      flex: 0 0 100%;
      max-width: 100%;
      margin: -45px 0 0;
      padding: 0 15px;
    }
  }
  &__right{
    padding-left: 40px;
    flex: 0 0 auto;
    @media (max-width: $breakpoint-xl){
      flex: 0 0 48%;
      max-width: 48%;
      padding-top: 50px;
    }
    @media (max-width: $breakpoint-md){
      flex: 0 0 100%;
      max-width: 100%;
      order: -1;
      padding: 0;
    }
  }
  &__title{
    margin: 0 0 20px;
    font-size: 20px;
    @media (max-width: $breakpoint-xl){
      font-weight: 400;
    }
    @media (max-width: $breakpoint-md){
      font-size: 17px;
      margin: 0 0 10px;
    }
  }
  &__text{
    h3{
      margin: 0 0 10px;
      font-size: 17px;
      font-weight: 400;
    }
    p{
      font-size: 14px;
      line-height: (24/14);
      @media (max-width: $breakpoint-xl){
        line-height: 1.46;
      }
    }
  }
  &__btn-wrapper{
    margin: 20px 0 0;
    @media (max-width: $breakpoint-md){
      margin: 15px 0 0;
    }
    .btn{
      @media (max-width: $breakpoint-md){
        padding: 6px 15px;
      }
    }
  }
  &__img{
    position: relative;
    right: -15px;
    @media (max-width: $breakpoint-md){
      padding: 0 50px;
    }
  }
}
