// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$s-advantage1-name: 's-advantage1';
$s-advantage1-x: 165px;
$s-advantage1-y: 45px;
$s-advantage1-offset-x: -165px;
$s-advantage1-offset-y: -45px;
$s-advantage1-width: 43px;
$s-advantage1-height: 43px;
$s-advantage1-total-width: 241px;
$s-advantage1-total-height: 201px;
$s-advantage1-image: '../img/png-sprite.png';
$s-advantage1: (165px, 45px, -165px, -45px, 43px, 43px, 241px, 201px, '../img/png-sprite.png', 's-advantage1', );
$s-advantage2-name: 's-advantage2';
$s-advantage2-x: 45px;
$s-advantage2-y: 158px;
$s-advantage2-offset-x: -45px;
$s-advantage2-offset-y: -158px;
$s-advantage2-width: 43px;
$s-advantage2-height: 43px;
$s-advantage2-total-width: 241px;
$s-advantage2-total-height: 201px;
$s-advantage2-image: '../img/png-sprite.png';
$s-advantage2: (45px, 158px, -45px, -158px, 43px, 43px, 241px, 201px, '../img/png-sprite.png', 's-advantage2', );
$s-advantage3-name: 's-advantage3';
$s-advantage3-x: 165px;
$s-advantage3-y: 90px;
$s-advantage3-offset-x: -165px;
$s-advantage3-offset-y: -90px;
$s-advantage3-width: 43px;
$s-advantage3-height: 43px;
$s-advantage3-total-width: 241px;
$s-advantage3-total-height: 201px;
$s-advantage3-image: '../img/png-sprite.png';
$s-advantage3: (165px, 90px, -165px, -90px, 43px, 43px, 241px, 201px, '../img/png-sprite.png', 's-advantage3', );
$s-advantage4-name: 's-advantage4';
$s-advantage4-x: 0px;
$s-advantage4-y: 158px;
$s-advantage4-offset-x: 0px;
$s-advantage4-offset-y: -158px;
$s-advantage4-width: 43px;
$s-advantage4-height: 43px;
$s-advantage4-total-width: 241px;
$s-advantage4-total-height: 201px;
$s-advantage4-image: '../img/png-sprite.png';
$s-advantage4: (0px, 158px, 0px, -158px, 43px, 43px, 241px, 201px, '../img/png-sprite.png', 's-advantage4', );
$s-advantage5-name: 's-advantage5';
$s-advantage5-x: 103px;
$s-advantage5-y: 101px;
$s-advantage5-offset-x: -103px;
$s-advantage5-offset-y: -101px;
$s-advantage5-width: 43px;
$s-advantage5-height: 43px;
$s-advantage5-total-width: 241px;
$s-advantage5-total-height: 201px;
$s-advantage5-image: '../img/png-sprite.png';
$s-advantage5: (103px, 101px, -103px, -101px, 43px, 43px, 241px, 201px, '../img/png-sprite.png', 's-advantage5', );
$s-advantage6-name: 's-advantage6';
$s-advantage6-x: 165px;
$s-advantage6-y: 0px;
$s-advantage6-offset-x: -165px;
$s-advantage6-offset-y: 0px;
$s-advantage6-width: 43px;
$s-advantage6-height: 43px;
$s-advantage6-total-width: 241px;
$s-advantage6-total-height: 201px;
$s-advantage6-image: '../img/png-sprite.png';
$s-advantage6: (165px, 0px, -165px, 0px, 43px, 43px, 241px, 201px, '../img/png-sprite.png', 's-advantage6', );
$s-articles-i-name: 's-articles-i';
$s-articles-i-x: 57px;
$s-articles-i-y: 101px;
$s-articles-i-offset-x: -57px;
$s-articles-i-offset-y: -101px;
$s-articles-i-width: 44px;
$s-articles-i-height: 44px;
$s-articles-i-total-width: 241px;
$s-articles-i-total-height: 201px;
$s-articles-i-image: '../img/png-sprite.png';
$s-articles-i: (57px, 101px, -57px, -101px, 44px, 44px, 241px, 201px, '../img/png-sprite.png', 's-articles-i', );
$s-articles-more-name: 's-articles-more';
$s-articles-more-x: 90px;
$s-articles-more-y: 158px;
$s-articles-more-offset-x: -90px;
$s-articles-more-offset-y: -158px;
$s-articles-more-width: 40px;
$s-articles-more-height: 40px;
$s-articles-more-total-width: 241px;
$s-articles-more-total-height: 201px;
$s-articles-more-image: '../img/png-sprite.png';
$s-articles-more: (90px, 158px, -90px, -158px, 40px, 40px, 241px, 201px, '../img/png-sprite.png', 's-articles-more', );
$s-cert-plus-name: 's-cert-plus';
$s-cert-plus-x: 0px;
$s-cert-plus-y: 101px;
$s-cert-plus-offset-x: 0px;
$s-cert-plus-offset-y: -101px;
$s-cert-plus-width: 55px;
$s-cert-plus-height: 55px;
$s-cert-plus-total-width: 241px;
$s-cert-plus-total-height: 201px;
$s-cert-plus-image: '../img/png-sprite.png';
$s-cert-plus: (0px, 101px, 0px, -101px, 55px, 55px, 241px, 201px, '../img/png-sprite.png', 's-cert-plus', );
$s-download-name: 's-download';
$s-download-x: 101px;
$s-download-y: 64px;
$s-download-offset-x: -101px;
$s-download-offset-y: -64px;
$s-download-width: 34px;
$s-download-height: 34px;
$s-download-total-width: 241px;
$s-download-total-height: 201px;
$s-download-image: '../img/png-sprite.png';
$s-download: (101px, 64px, -101px, -64px, 34px, 34px, 241px, 201px, '../img/png-sprite.png', 's-download', );
$s-gallery-left-name: 's-gallery-left';
$s-gallery-left-x: 210px;
$s-gallery-left-y: 87px;
$s-gallery-left-offset-x: -210px;
$s-gallery-left-offset-y: -87px;
$s-gallery-left-width: 16px;
$s-gallery-left-height: 21px;
$s-gallery-left-total-width: 241px;
$s-gallery-left-total-height: 201px;
$s-gallery-left-image: '../img/png-sprite.png';
$s-gallery-left: (210px, 87px, -210px, -87px, 16px, 21px, 241px, 201px, '../img/png-sprite.png', 's-gallery-left', );
$s-gallery-right-name: 's-gallery-right';
$s-gallery-right-x: 210px;
$s-gallery-right-y: 110px;
$s-gallery-right-offset-x: -210px;
$s-gallery-right-offset-y: -110px;
$s-gallery-right-width: 16px;
$s-gallery-right-height: 21px;
$s-gallery-right-total-width: 241px;
$s-gallery-right-total-height: 201px;
$s-gallery-right-image: '../img/png-sprite.png';
$s-gallery-right: (210px, 110px, -210px, -110px, 16px, 21px, 241px, 201px, '../img/png-sprite.png', 's-gallery-right', );
$s-green-btn-name: 's-green-btn';
$s-green-btn-x: 101px;
$s-green-btn-y: 0px;
$s-green-btn-offset-x: -101px;
$s-green-btn-offset-y: 0px;
$s-green-btn-width: 62px;
$s-green-btn-height: 62px;
$s-green-btn-total-width: 241px;
$s-green-btn-total-height: 201px;
$s-green-btn-image: '../img/png-sprite.png';
$s-green-btn: (101px, 0px, -101px, 0px, 62px, 62px, 241px, 201px, '../img/png-sprite.png', 's-green-btn', );
$s-hd-name: 's-hd';
$s-hd-x: 165px;
$s-hd-y: 135px;
$s-hd-offset-x: -165px;
$s-hd-offset-y: -135px;
$s-hd-width: 41px;
$s-hd-height: 21px;
$s-hd-total-width: 241px;
$s-hd-total-height: 201px;
$s-hd-image: '../img/png-sprite.png';
$s-hd: (165px, 135px, -165px, -135px, 41px, 21px, 241px, 201px, '../img/png-sprite.png', 's-hd', );
$s-header-pin-mobile-hover-name: 's-header-pin-mobile-hover';
$s-header-pin-mobile-hover-x: 165px;
$s-header-pin-mobile-hover-y: 158px;
$s-header-pin-mobile-hover-offset-x: -165px;
$s-header-pin-mobile-hover-offset-y: -158px;
$s-header-pin-mobile-hover-width: 31px;
$s-header-pin-mobile-hover-height: 31px;
$s-header-pin-mobile-hover-total-width: 241px;
$s-header-pin-mobile-hover-total-height: 201px;
$s-header-pin-mobile-hover-image: '../img/png-sprite.png';
$s-header-pin-mobile-hover: (165px, 158px, -165px, -158px, 31px, 31px, 241px, 201px, '../img/png-sprite.png', 's-header-pin-mobile-hover', );
$s-header-pin-mobile-name: 's-header-pin-mobile';
$s-header-pin-mobile-x: 210px;
$s-header-pin-mobile-y: 0px;
$s-header-pin-mobile-offset-x: -210px;
$s-header-pin-mobile-offset-y: 0px;
$s-header-pin-mobile-width: 31px;
$s-header-pin-mobile-height: 31px;
$s-header-pin-mobile-total-width: 241px;
$s-header-pin-mobile-total-height: 201px;
$s-header-pin-mobile-image: '../img/png-sprite.png';
$s-header-pin-mobile: (210px, 0px, -210px, 0px, 31px, 31px, 241px, 201px, '../img/png-sprite.png', 's-header-pin-mobile', );
$s-header-pin-name: 's-header-pin';
$s-header-pin-x: 228px;
$s-header-pin-y: 87px;
$s-header-pin-offset-x: -228px;
$s-header-pin-offset-y: -87px;
$s-header-pin-width: 11px;
$s-header-pin-height: 15px;
$s-header-pin-total-width: 241px;
$s-header-pin-total-height: 201px;
$s-header-pin-image: '../img/png-sprite.png';
$s-header-pin: (228px, 87px, -228px, -87px, 11px, 15px, 241px, 201px, '../img/png-sprite.png', 's-header-pin', );
$s-header-tel-mobile-hover-name: 's-header-tel-mobile-hover';
$s-header-tel-mobile-hover-x: 132px;
$s-header-tel-mobile-hover-y: 158px;
$s-header-tel-mobile-hover-offset-x: -132px;
$s-header-tel-mobile-hover-offset-y: -158px;
$s-header-tel-mobile-hover-width: 31px;
$s-header-tel-mobile-hover-height: 31px;
$s-header-tel-mobile-hover-total-width: 241px;
$s-header-tel-mobile-hover-total-height: 201px;
$s-header-tel-mobile-hover-image: '../img/png-sprite.png';
$s-header-tel-mobile-hover: (132px, 158px, -132px, -158px, 31px, 31px, 241px, 201px, '../img/png-sprite.png', 's-header-tel-mobile-hover', );
$s-header-tel-mobile-name: 's-header-tel-mobile';
$s-header-tel-mobile-x: 210px;
$s-header-tel-mobile-y: 33px;
$s-header-tel-mobile-offset-x: -210px;
$s-header-tel-mobile-offset-y: -33px;
$s-header-tel-mobile-width: 31px;
$s-header-tel-mobile-height: 31px;
$s-header-tel-mobile-total-width: 241px;
$s-header-tel-mobile-total-height: 201px;
$s-header-tel-mobile-image: '../img/png-sprite.png';
$s-header-tel-mobile: (210px, 33px, -210px, -33px, 31px, 31px, 241px, 201px, '../img/png-sprite.png', 's-header-tel-mobile', );
$s-models-burger-name: 's-models-burger';
$s-models-burger-x: 210px;
$s-models-burger-y: 152px;
$s-models-burger-offset-x: -210px;
$s-models-burger-offset-y: -152px;
$s-models-burger-width: 15px;
$s-models-burger-height: 13px;
$s-models-burger-total-width: 241px;
$s-models-burger-total-height: 201px;
$s-models-burger-image: '../img/png-sprite.png';
$s-models-burger: (210px, 152px, -210px, -152px, 15px, 13px, 241px, 201px, '../img/png-sprite.png', 's-models-burger', );
$s-nav-burger-name: 's-nav-burger';
$s-nav-burger-x: 228px;
$s-nav-burger-y: 110px;
$s-nav-burger-offset-x: -228px;
$s-nav-burger-offset-y: -110px;
$s-nav-burger-width: 11px;
$s-nav-burger-height: 10px;
$s-nav-burger-total-width: 241px;
$s-nav-burger-total-height: 201px;
$s-nav-burger-image: '../img/png-sprite.png';
$s-nav-burger: (228px, 110px, -228px, -110px, 11px, 10px, 241px, 201px, '../img/png-sprite.png', 's-nav-burger', );
$s-nav-house-name: 's-nav-house';
$s-nav-house-x: 210px;
$s-nav-house-y: 66px;
$s-nav-house-offset-x: -210px;
$s-nav-house-offset-y: -66px;
$s-nav-house-width: 20px;
$s-nav-house-height: 19px;
$s-nav-house-total-width: 241px;
$s-nav-house-total-height: 201px;
$s-nav-house-image: '../img/png-sprite.png';
$s-nav-house: (210px, 66px, -210px, -66px, 20px, 19px, 241px, 201px, '../img/png-sprite.png', 's-nav-house', );
$s-play-video-name: 's-play-video';
$s-play-video-x: 0px;
$s-play-video-y: 0px;
$s-play-video-offset-x: 0px;
$s-play-video-offset-y: 0px;
$s-play-video-width: 99px;
$s-play-video-height: 99px;
$s-play-video-total-width: 241px;
$s-play-video-total-height: 201px;
$s-play-video-image: '../img/png-sprite.png';
$s-play-video: (0px, 0px, 0px, 0px, 99px, 99px, 241px, 201px, '../img/png-sprite.png', 's-play-video', );
$s-plus-name: 's-plus';
$s-plus-x: 210px;
$s-plus-y: 133px;
$s-plus-offset-x: -210px;
$s-plus-offset-y: -133px;
$s-plus-width: 17px;
$s-plus-height: 17px;
$s-plus-total-width: 241px;
$s-plus-total-height: 201px;
$s-plus-image: '../img/png-sprite.png';
$s-plus: (210px, 133px, -210px, -133px, 17px, 17px, 241px, 201px, '../img/png-sprite.png', 's-plus', );
$spritesheet-width: 241px;
$spritesheet-height: 201px;
$spritesheet-image: '../img/png-sprite.png';
$spritesheet-sprites: ($s-advantage1, $s-advantage2, $s-advantage3, $s-advantage4, $s-advantage5, $s-advantage6, $s-articles-i, $s-articles-more, $s-cert-plus, $s-download, $s-gallery-left, $s-gallery-right, $s-green-btn, $s-hd, $s-header-pin-mobile-hover, $s-header-pin-mobile, $s-header-pin, $s-header-tel-mobile-hover, $s-header-tel-mobile, $s-models-burger, $s-nav-burger, $s-nav-house, $s-play-video, $s-plus, );
$spritesheet: (241px, 201px, '../img/png-sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
