// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$s-advantage1-name: 's-advantage1';
$s-advantage1-x: 45px;
$s-advantage1-y: 158px;
$s-advantage1-offset-x: -45px;
$s-advantage1-offset-y: -158px;
$s-advantage1-width: 43px;
$s-advantage1-height: 43px;
$s-advantage1-total-width: 208px;
$s-advantage1-total-height: 201px;
$s-advantage1-image: '../img/png-sprite.png';
$s-advantage1: (45px, 158px, -45px, -158px, 43px, 43px, 208px, 201px, '../img/png-sprite.png', 's-advantage1', );
$s-advantage2-name: 's-advantage2';
$s-advantage2-x: 165px;
$s-advantage2-y: 90px;
$s-advantage2-offset-x: -165px;
$s-advantage2-offset-y: -90px;
$s-advantage2-width: 43px;
$s-advantage2-height: 43px;
$s-advantage2-total-width: 208px;
$s-advantage2-total-height: 201px;
$s-advantage2-image: '../img/png-sprite.png';
$s-advantage2: (165px, 90px, -165px, -90px, 43px, 43px, 208px, 201px, '../img/png-sprite.png', 's-advantage2', );
$s-advantage3-name: 's-advantage3';
$s-advantage3-x: 165px;
$s-advantage3-y: 0px;
$s-advantage3-offset-x: -165px;
$s-advantage3-offset-y: 0px;
$s-advantage3-width: 43px;
$s-advantage3-height: 43px;
$s-advantage3-total-width: 208px;
$s-advantage3-total-height: 201px;
$s-advantage3-image: '../img/png-sprite.png';
$s-advantage3: (165px, 0px, -165px, 0px, 43px, 43px, 208px, 201px, '../img/png-sprite.png', 's-advantage3', );
$s-advantage4-name: 's-advantage4';
$s-advantage4-x: 0px;
$s-advantage4-y: 158px;
$s-advantage4-offset-x: 0px;
$s-advantage4-offset-y: -158px;
$s-advantage4-width: 43px;
$s-advantage4-height: 43px;
$s-advantage4-total-width: 208px;
$s-advantage4-total-height: 201px;
$s-advantage4-image: '../img/png-sprite.png';
$s-advantage4: (0px, 158px, 0px, -158px, 43px, 43px, 208px, 201px, '../img/png-sprite.png', 's-advantage4', );
$s-advantage5-name: 's-advantage5';
$s-advantage5-x: 165px;
$s-advantage5-y: 45px;
$s-advantage5-offset-x: -165px;
$s-advantage5-offset-y: -45px;
$s-advantage5-width: 43px;
$s-advantage5-height: 43px;
$s-advantage5-total-width: 208px;
$s-advantage5-total-height: 201px;
$s-advantage5-image: '../img/png-sprite.png';
$s-advantage5: (165px, 45px, -165px, -45px, 43px, 43px, 208px, 201px, '../img/png-sprite.png', 's-advantage5', );
$s-advantage6-name: 's-advantage6';
$s-advantage6-x: 103px;
$s-advantage6-y: 101px;
$s-advantage6-offset-x: -103px;
$s-advantage6-offset-y: -101px;
$s-advantage6-width: 43px;
$s-advantage6-height: 43px;
$s-advantage6-total-width: 208px;
$s-advantage6-total-height: 201px;
$s-advantage6-image: '../img/png-sprite.png';
$s-advantage6: (103px, 101px, -103px, -101px, 43px, 43px, 208px, 201px, '../img/png-sprite.png', 's-advantage6', );
$s-articles-i-name: 's-articles-i';
$s-articles-i-x: 57px;
$s-articles-i-y: 101px;
$s-articles-i-offset-x: -57px;
$s-articles-i-offset-y: -101px;
$s-articles-i-width: 44px;
$s-articles-i-height: 44px;
$s-articles-i-total-width: 208px;
$s-articles-i-total-height: 201px;
$s-articles-i-image: '../img/png-sprite.png';
$s-articles-i: (57px, 101px, -57px, -101px, 44px, 44px, 208px, 201px, '../img/png-sprite.png', 's-articles-i', );
$s-articles-more-name: 's-articles-more';
$s-articles-more-x: 90px;
$s-articles-more-y: 158px;
$s-articles-more-offset-x: -90px;
$s-articles-more-offset-y: -158px;
$s-articles-more-width: 40px;
$s-articles-more-height: 40px;
$s-articles-more-total-width: 208px;
$s-articles-more-total-height: 201px;
$s-articles-more-image: '../img/png-sprite.png';
$s-articles-more: (90px, 158px, -90px, -158px, 40px, 40px, 208px, 201px, '../img/png-sprite.png', 's-articles-more', );
$s-cert-plus-name: 's-cert-plus';
$s-cert-plus-x: 0px;
$s-cert-plus-y: 101px;
$s-cert-plus-offset-x: 0px;
$s-cert-plus-offset-y: -101px;
$s-cert-plus-width: 55px;
$s-cert-plus-height: 55px;
$s-cert-plus-total-width: 208px;
$s-cert-plus-total-height: 201px;
$s-cert-plus-image: '../img/png-sprite.png';
$s-cert-plus: (0px, 101px, 0px, -101px, 55px, 55px, 208px, 201px, '../img/png-sprite.png', 's-cert-plus', );
$s-download-name: 's-download';
$s-download-x: 101px;
$s-download-y: 64px;
$s-download-offset-x: -101px;
$s-download-offset-y: -64px;
$s-download-width: 34px;
$s-download-height: 34px;
$s-download-total-width: 208px;
$s-download-total-height: 201px;
$s-download-image: '../img/png-sprite.png';
$s-download: (101px, 64px, -101px, -64px, 34px, 34px, 208px, 201px, '../img/png-sprite.png', 's-download', );
$s-gallery-left-name: 's-gallery-left';
$s-gallery-left-x: 150px;
$s-gallery-left-y: 158px;
$s-gallery-left-offset-x: -150px;
$s-gallery-left-offset-y: -158px;
$s-gallery-left-width: 16px;
$s-gallery-left-height: 21px;
$s-gallery-left-total-width: 208px;
$s-gallery-left-total-height: 201px;
$s-gallery-left-image: '../img/png-sprite.png';
$s-gallery-left: (150px, 158px, -150px, -158px, 16px, 21px, 208px, 201px, '../img/png-sprite.png', 's-gallery-left', );
$s-gallery-right-name: 's-gallery-right';
$s-gallery-right-x: 132px;
$s-gallery-right-y: 158px;
$s-gallery-right-offset-x: -132px;
$s-gallery-right-offset-y: -158px;
$s-gallery-right-width: 16px;
$s-gallery-right-height: 21px;
$s-gallery-right-total-width: 208px;
$s-gallery-right-total-height: 201px;
$s-gallery-right-image: '../img/png-sprite.png';
$s-gallery-right: (132px, 158px, -132px, -158px, 16px, 21px, 208px, 201px, '../img/png-sprite.png', 's-gallery-right', );
$s-green-btn-name: 's-green-btn';
$s-green-btn-x: 101px;
$s-green-btn-y: 0px;
$s-green-btn-offset-x: -101px;
$s-green-btn-offset-y: 0px;
$s-green-btn-width: 62px;
$s-green-btn-height: 62px;
$s-green-btn-total-width: 208px;
$s-green-btn-total-height: 201px;
$s-green-btn-image: '../img/png-sprite.png';
$s-green-btn: (101px, 0px, -101px, 0px, 62px, 62px, 208px, 201px, '../img/png-sprite.png', 's-green-btn', );
$s-hd-name: 's-hd';
$s-hd-x: 165px;
$s-hd-y: 135px;
$s-hd-offset-x: -165px;
$s-hd-offset-y: -135px;
$s-hd-width: 41px;
$s-hd-height: 21px;
$s-hd-total-width: 208px;
$s-hd-total-height: 201px;
$s-hd-image: '../img/png-sprite.png';
$s-hd: (165px, 135px, -165px, -135px, 41px, 21px, 208px, 201px, '../img/png-sprite.png', 's-hd', );
$s-header-pin-name: 's-header-pin';
$s-header-pin-x: 148px;
$s-header-pin-y: 101px;
$s-header-pin-offset-x: -148px;
$s-header-pin-offset-y: -101px;
$s-header-pin-width: 11px;
$s-header-pin-height: 15px;
$s-header-pin-total-width: 208px;
$s-header-pin-total-height: 201px;
$s-header-pin-image: '../img/png-sprite.png';
$s-header-pin: (148px, 101px, -148px, -101px, 11px, 15px, 208px, 201px, '../img/png-sprite.png', 's-header-pin', );
$s-nav-house-name: 's-nav-house';
$s-nav-house-x: 137px;
$s-nav-house-y: 64px;
$s-nav-house-offset-x: -137px;
$s-nav-house-offset-y: -64px;
$s-nav-house-width: 20px;
$s-nav-house-height: 19px;
$s-nav-house-total-width: 208px;
$s-nav-house-total-height: 201px;
$s-nav-house-image: '../img/png-sprite.png';
$s-nav-house: (137px, 64px, -137px, -64px, 20px, 19px, 208px, 201px, '../img/png-sprite.png', 's-nav-house', );
$s-play-video-name: 's-play-video';
$s-play-video-x: 0px;
$s-play-video-y: 0px;
$s-play-video-offset-x: 0px;
$s-play-video-offset-y: 0px;
$s-play-video-width: 99px;
$s-play-video-height: 99px;
$s-play-video-total-width: 208px;
$s-play-video-total-height: 201px;
$s-play-video-image: '../img/png-sprite.png';
$s-play-video: (0px, 0px, 0px, 0px, 99px, 99px, 208px, 201px, '../img/png-sprite.png', 's-play-video', );
$s-plus-name: 's-plus';
$s-plus-x: 168px;
$s-plus-y: 158px;
$s-plus-offset-x: -168px;
$s-plus-offset-y: -158px;
$s-plus-width: 17px;
$s-plus-height: 17px;
$s-plus-total-width: 208px;
$s-plus-total-height: 201px;
$s-plus-image: '../img/png-sprite.png';
$s-plus: (168px, 158px, -168px, -158px, 17px, 17px, 208px, 201px, '../img/png-sprite.png', 's-plus', );
$spritesheet-width: 208px;
$spritesheet-height: 201px;
$spritesheet-image: '../img/png-sprite.png';
$spritesheet-sprites: ($s-advantage1, $s-advantage2, $s-advantage3, $s-advantage4, $s-advantage5, $s-advantage6, $s-articles-i, $s-articles-more, $s-cert-plus, $s-download, $s-gallery-left, $s-gallery-right, $s-green-btn, $s-hd, $s-header-pin, $s-nav-house, $s-play-video, $s-plus, );
$spritesheet: (208px, 201px, '../img/png-sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
